{% extends 'base.html' %}
{% block content %}

<h1 class='page_title'> Edit City </h1>

<form id="form" action="/cities/{{city.id}}" method="post">
    <label for="country_id">Country</label><br>
    <select name="country_id" id="country_id">
        {% for country in countries %}
        <option value="{{country.id}}">{{country.name}}</option>
        {% endfor %}
    </select>
    <div>
        <label for="city">City</label> <br>
        <input type="text" id="city" name="city" value="{{city.name}}" required autofocus>
    </div>
    <div>
        <label for="film_locations">Film Locations</label> <br>
        <input type="text" id="film_locations" name="film_locations" value="{{city.film_locations}}" required autofocus>
    </div>
    <div>
        <label for="visited">Visited</label> <br>
        <select name="visited" id="visited" required autofocus>

            <option value="True" {% if city.visited == True %} selected="selected" {% endif %}>Yes</option>
            <option value="False" {% if city.visited == False %} selected="selected" {% endif %}>No</option>
        </select>
    </div> <br>
    <button class='submit_button' type="submit">Update City</button>
</form>

{% endblock %}