{% extends 'base.html' %}

{% block content %}
<h1>All Cities</h1>

{% for city in cities %}
<tr>
    <td><a href="/cities">{{city.name}}</a></td>
</tr>
{% endfor %}

{% for city in cities %}
    <li>
        <p>Name{{city.name}}</p>
        <p>Film-Locatoon{{city.film_locations}}</p>
        <p>Country Name{{city.country.name}}</p>
        <p>visited {{city.visited}}</p>
           <p> id {{city.id}}</p>
        <p>
            <form action="/cities/{{ city.id }}/delete" method='POST'>
                <input type="submit" value="delete">
            </form>
        </p>
        <p>
            <form action="/cities/{{ city.id }}/edit" method='GET'>
                <input type="submit" value="edit">
            </form>
  
        </p>
    </li>
{% endfor %}

{% endblock %}
