{% extends 'base.html' %}

{% block content %}

<div class= 'filter_options'>
<tr ><td>View:</td>
    <td ><a href="/countries" >All Countries</a></td>
    <td><a href="/cities/visited">Visited Cities</a></td>
    <td><a href="/cities/not-visited">Planned</a></td> 
</tr>
</div>

<h1  class ='page_title'>All Cities</h1>
<section class='individual_cities'></section>
    
    {% for city in cities %}
    <section class= 'cities'>
        <p><h3>{{city.name}}, {{city.country.name}} </h3>
            <br>
        <p>Film Location: {{city.film_locations}}</p>
            Visited? 
            {% if city.visited == True %} Yes
            {% else %} No
            {% endif %}
            <br>
                <div class='button_container'>  
                    <form action="/cities/{{ city.id }}/delete" method='POST'>
                        <input class='delete_button' type="submit" value="delete">
                    </form>
                
                    <form action="/cities/{{ city.id }}/edit" method='GET'>
                        <input class='submit_button' type="submit" value="edit">
                    </form>
                </div>
    </section>
    <br>
    
{% endfor %}
</section>

{% endblock %}
