
.submit_button {
    align-items: flex-start;
    padding: 8px 32px;
    background: #024873;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    grid-area: auto;
}

.delete_button{
    padding: 8px 32px;
    border-radius: 8px;
    background-color: red;
    color: white;
    font-size: 16px;

}

.edit_button {
    padding: 8px 32px;
    background: #024873;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    grid-area: auto;
    max-width: 10%;
}

.edit_button2 {
    padding: 8px 32px;
    background: #024873;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    grid-area: auto;
    min-width: 5%;
}

