body {
    font-family: 'Roboto', sans-serif;
}

.nav_bar {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10%;
    font-family: Roboto Slab;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    list-style: none;
    color: #024873;
    background-color: blue;
}

#main_title {
    grid-row-start: 1;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    height: 80px;
    color: #024873;
    width: 30%;
}
.nav_bar p {
    grid-row-end: 2;   
}

#line {
    height: 1px;
    width: 100%;
    /* padding: 16px; */
    background-color: black;
}

main {
    padding-top: 16px;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
}

footer {
/* footer info here
}