body {
    font-family: 'Roboto', sans-serif;
}

.nav_bar {
    display: grid;
    grid-template-columns: 70% 6% 12% 12%;
    grid-template-rows: 1fr;
    padding: 0;
    margin: 0;
    font-family: Roboto Slab;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    list-style: none;
    color: #024873;
}

#main_title {
    font-family: Roboto Slab;
    padding-left: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    height: 80px;
    color: #024873;
    
}

.nav_bar p {
    padding-top: 32px;
}

#line {
    height: 1px;
    width: 100%;
    margin: 8px;
    background-color: black;
}

main {
    padding-top: 16px;
}

.page_title{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: black;
    
}
h2, h3 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

p {
    font-family: 'Roboto Slab', serif;
}

.filter_options{
    font-family: 'Roboto', sans-serif;
    padding-left: 8px;
    color: black;
}
.cities{
    display: grid;
    grid-template-rows: 1fr;
    border-style: solid;
    border-radius: 16px;
    max-width: 40%;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 30%;
    min-width: 250px;
}

section{
    display: grid;
}

.button_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

footer {
/* footer info here
}