body {
    font-family: 'Roboto', sans-serif;
}

.nav_bar {
    display: grid;
    grid-template-columns: 70% 6% 12% 12%;
    grid-template-rows: 1fr;
    padding: 0;
    margin: 0;
    font-family: Roboto Slab;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    list-style: none;
    color: #024873;
}

#main_title {
    font-family: Roboto Slab;
    padding-left: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    height: 80px;
    color: #024873;
    
}

.nav_bar p {
    padding-top: 32px;
}

#line {
    height: 1px;
    width: 100%;
    margin: 8px;
    background-color: black;
}

main {
    padding-top: 16px;
}

.page_title {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: black;
    
}
h2 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}
h3 h4{
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Roboto Slab', serif;
}

a:hover{
    text-decoration: underline;
    font-weight: bold;
}

a:visited {
    color: #024873;
}
a:active {
    text-decoration: none;
    font-weight: bold;
}

.filter_options { 
    font-family: 'Roboto', sans-serif;
    padding-left: 16px;
    padding-right: 16px;
    color: black;
    
    
}
.cities{
    display: grid;
    grid-template-rows: 1fr;
    border-style: solid;
    border-radius: 16px;
    max-width: 40%;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 30%;
    min-width: 250px;
}

section{
    display: grid;
}

.button_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

.individual_countries{
    margin-right: 40%;
    margin-left: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 16px;
    padding left: 16px;
}

.individual_cities{
    margin-top: 8px;
}

.country_entry {
    border: solid;
    border-radius: 10px;
    margin: 16px;
    padding-left: 16px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:   #024873;
    color: white;
    text-align: center;
    height: 16px;
    padding: 9px;
}