<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>My Bucket List</title>
</head>
<body>
    <header>
        #logo here
        <nav>
            <ul>
                <li></li>
                <li><a href="/countries">My List</a></li>
                <li><a href="/countries/new">Add New Location</a></li>
             </ul>
        </nav>
    </header>
    <main>
        {% block content%}

        {% endblock%}
    </main>
</body>
</html>